In [72]:
# Import Library
import pandas as pd

In [73]:
#Import csv
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [74]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [76]:
nan_df=df[df.isna().any(axis=1)]
nan_df.head()

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [77]:
#a. Which 2 demographics have proven to be the most popular with the telco brand?
(df.groupby(["gender"]).size()
 .reset_index(name='count').sort_values(by='gender', ascending=True))

   gender  count
0  Female   3488
1    Male   3555

In [78]:
#b. If the marketing team wanted to increase customer retention, to whom should they target their advertisements to?
(df.groupby(["gender","SeniorCitizen","tenure"]).size()
 .reset_index(name='count').sort_values(by='gender', ascending=True))

     gender  SeniorCitizen  tenure  count
0    Female              0       0      5
93   Female              1      21      4
94   Female              1      22      7
95   Female              1      23      5
96   Female              1      24      4
..      ...            ...     ...    ...
194    Male              0      49     26
195    Male              0      50     29
196    Male              0      51     33
179    Male              0      34     25
289    Male              1      72     29

[290 rows x 4 columns]

In [79]:
#a. Which 3 services are contributing to a higher monthly charge and resulting to customers churning? 
#(Use visualizations in explaining your analysis)
higher_monthly = df[["MonthlyCharges", "TotalCharges","Churn"]]
higher_monthly.head()

   MonthlyCharges TotalCharges Churn
0           29.85        29.85    No
1           56.95       1889.5    No
2           53.85       108.15   Yes
3           42.30      1840.75    No
4           70.70       151.65   Yes

In [80]:
df["PhoneService"].replace({"Yes": "PhoneService"}, inplace=True)

In [83]:
df["OnlineSecurity"].replace({"Yes": "OnlineSecurity"}, inplace=True)

In [85]:
df["OnlineBackup"].replace({"Yes": "OnlineBackup"}, inplace=True)

In [86]:
df["DeviceProtection"].replace({"Yes": "DeviceProtection"}, inplace=True)

In [87]:
df["TechSupport"].replace({"Yes": "TechSupport"}, inplace=True)

In [88]:
df["StreamingTV"].replace({"Yes": "StreamingTV"}, inplace=True)

In [89]:
df["StreamingMovies"].replace({"Yes": "StreamingMovies"}, inplace=True)

In [105]:

df['services'] =df[['PhoneService','InternetService','OnlineSecurity','TechSupport','StreamingTV','StreamingMovies']].apply(lambda x: ','.join(x), axis=1)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,services
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,"No,DSL,No,No,No,No"
1,5575-GNVDE,Male,0,No,No,34,PhoneService,No,DSL,OnlineSecurity,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,"PhoneService,DSL,OnlineSecurity,No,No,No"
2,3668-QPYBK,Male,0,No,No,2,PhoneService,No,DSL,OnlineSecurity,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,"PhoneService,DSL,OnlineSecurity,No,No,No"
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,OnlineSecurity,...,TechSupport,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,"No,DSL,OnlineSecurity,TechSupport,No,No"
4,9237-HQITU,Female,0,No,No,2,PhoneService,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,"PhoneService,Fiber optic,No,No,No,No"

In [106]:
df["Services"].replace({"No": "Na"}, inplace=True)

KeyError: 'Services'

In [104]:
df.services

0                                      No,DSL,No,No,No,No
1                PhoneService,DSL,OnlineSecurity,No,No,No
2                PhoneService,DSL,OnlineSecurity,No,No,No
3                 No,DSL,OnlineSecurity,TechSupport,No,No
4                    PhoneService,Fiber optic,No,No,No,No
                              ...
7038    PhoneService,DSL,OnlineSecurity,TechSupport,St...
7039    PhoneService,Fiber optic,No,No,StreamingTV,Str...
7040                       No,DSL,OnlineSecurity,No,No,No
7041                 PhoneService,Fiber optic,No,No,No,No
7042    PhoneService,Fiber optic,OnlineSecurity,TechSu...
Name: services, Length: 7043, dtype: object

In [69]:
df=df[['customerID','services']]
df.head()

   customerID                            services
0  7590-VHVEG    No,No phone service,DSL,No,No,No
1  5575-GNVDE                Yes,No,DSL,Yes,No,No
2  3668-QPYBK                Yes,No,DSL,Yes,No,No
3  7795-CFOCW  No,No phone service,DSL,Yes,Yes,No
4  9237-HQITU         Yes,No,Fiber optic,No,No,No

In [42]:
from itertools import combinations
from collections import Counter

count =Counter()

for row in df['Grouped']:
    row_list =row.split(',')
    count.update(Counter(combinations(row_list, 2)))
    
count.most_common(10)

KeyError: 'Grouped'